* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    color: #333333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #a8002a;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    margin: 5px 0 0;
}