* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    color: #333333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #790b26;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    margin: 5px 0 0;
}

nav {
    background-color: #dd8a9f;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
}

nav a:hover {
    color: #e93754;
    text-decoration: underline;
}
main {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

section {
    background-color: white;
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

section h2 {
    color: #7a042b;
    border-bottom: 2px solid #ce002d;
    padding-bottom: 8px;
}
#home {
    text-align: center;
    background-color: #f0dee6;
}

#home h2 {
    border-bottom: none;
}

#home button {
    background-color: #7a0938;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#home button:hover {
    background-color: #f5b1c8;
}